<div id="content-container">

{{!-- Events being hosted by user --}}
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    {{!-- Events being attended by user --}}
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



</div>