<section id="content-container">
  <!-- Invitations -->
  <div>
    <span>Attendance Requests</span>
    {{#each hosting as |event|}}
      <ul>
        <li></li>
      </ul>
    {{/each}}
  </div>

  <h2 id="displayName">{{userData.displayName}}</h2>
  <img src="" alt="mail device image">
  <!-- Events -->
  <div>
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Host')">Hosted Events</button>
      <button class="tablinks" onclick="openCity(event, 'Attend')">Attending Events</button>
    </div>

    <!-- Tab hosting -->
    <div id="Host" class="tabcontent">
      {{#each hosting as |hostData|}}
      <a></a>
      {{/each}}
    </div>

    <!-- Tab attending -->
    <div id="Attend" class="tabcontent">
      {{#each attending as |attendData|}}
      <a></a>
      {{/each}}
    </div>
  </div>
  
</section>