<div>
    <h1>Start a Game?</h1>
    <input type="text">Name the Event</input>
    <form action="/action_page.php">
        <input type="file" id="eventPic" name="eventPic">
        <input type="submit">
    </form>
</div>