/* Styling Variables */
:root {
  --color-primary: #623E2E;
  --color-on-primary: #FFDBCD;
  --color-secondary: #CDC6AF;
  --color-on-secondary: #343020;
  --color-bg: #1E1B1A;
  --border-radius: .75rem;
}

/* Page wide styles */
* {
  font-family: "Montserrat", serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  min-width: 64rem;
}

/* Nav Styles */
header {
  height: 8.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  display: flex;
  border-bottom-right-radius: var(--border-radius);
}

.logo {
  width: 16rem;
  height: 12rem;
  padding: .5rem 0;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
}

nav {
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0 1rem;
}

.nav-links {
  font-size: 3rem;
  font-weight: 400;
}

#nav-filter {
  width: 100%;
}

#nav-filter button {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  float: right;
}

/* Friends List Styles */
aside {
  width: 16rem;
  /*height: 80%;*/
  height: 100%;
  float: left;
  position: fixed;
  bottom: 1rem;
  /*z-index: 2;*/
  z-index: -1;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

aside h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

/* Main Content Styling */
.content-container {
  margin: 9.5rem 1rem 1rem 17rem;
}

/* Event Card Styles */
#event-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.event-card {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border-radius: var(--border-radius);
  padding: .5rem;
}

.card-container-title {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  padding: 1rem .15rem;
}

.card-container-title h2,
.card-container-game h3 {
  margin: 0;
}

.card-container-game {
  text-align: center;
  padding: 0 .15rem 1rem;
}

.card-container-game h3 {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: .25rem;
}

.card-container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.location-icon,
.event-date,
.event-capacity {
  display: flex;
  align-items: center;
}

.location-icon {
  justify-content: start;
}

.event-date {
  justify-content: center;
}

.event-capacity {
  justify-content: end;
}

/* Event Page Styles */
.event-page {
  
}

/* change password modal styling */
.account-modal {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.cardStyle {
  width: 500px;
  border-color: white;
  background: #fff;
  padding: 36px 0;
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
}

#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}

.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}

.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}

.buttonWrapper {
  margin-top: 40px;
}

.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #065492;
  border-color: #065492;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end change password modal styling */

/* Responsive Styles */
/* Tablet - 720-1023 */
@media screen and (max-width: 1023px) {}

/* Mobile - 719 and below */
@media screen and (max-width: 719px) {}

/* Other Styling*/
.hidden {
  display: none;
}