/* Styling Variables */
:root {
  --color-primary: #623E2E;
  --color-on-primary: #FFDBCD;
  --color-secondary: #CDC6AF;
  --color-on-secondary: #343020;
  --color-bg: #1E1B1A;
  --border-radius: .75rem;
}

/* Page wide styles */
* {
  font-family: "Montserrat", serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  min-width: 64rem;
  border: 1px solid red;
}

/* Nav Styles */
header {
  height: 8.5rem;
  width: 100%;
  position: fixed;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  display: flex;
  border-bottom-right-radius: var(--border-radius);
}

.logo {
  width: 16rem;
  height: 12rem;
  padding: .5rem 0;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
}

nav {
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0 1rem;
}

.nav-links {
  font-size: 3rem;
  font-weight: 400;
}

#nav-filter {
  width: 100%;
}

#nav-filter button {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  float: right;
}

/* Friends List Styles */
aside {
  width: 16rem;
  height: 80%;
  float: left;
  position: fixed;
  bottom: 1rem;
  z-index: 2;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

aside h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

/* Event Card Styles */


/* Responsive Styles */
/* Tablet - 720-1023 */
@media screen and (max-width: 1023px) {}

/* Mobile - 719 and below */
@media screen and (max-width: 719px) {}

/* Other Styling*/
.hidden {
  display: none;
}